
[Unit]
Description=Cocktails App
After=cloud-final.service

[Service]
WorkingDirectory=/home/ec2-user/mysql
ExecStart=/usr/bin/node /home/ec2-user/mysql/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mysql-app
User=ec2-user

[Install]
WantedBy=multi-user.target
